:root {
    --color-accent: oklch(53.73% 0.1989 139.24);
}
select,
body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
}
body {
    max-width: 100ch;
    margin-inline: auto;
    padding: 2%;
}
nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    --border-color: oklch(50% 10% 200 / 40%);
    border-bottom-color: var(--border-color);
}
nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
}
nav a.current {
    border-bottom-width: 4px;
    border-bottom-color: var(--border-color);
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom-style: solid;
}
a:hover {
    border-bottom-width: 4px;
    border-bottom-color: var(--color-accent);
    font-weight: bold;
    padding-bottom: 1px;
    border-bottom-style: solid;
    background-color: oklch(from var(--color-accent) 95% 5% h);
    /* color-mix worked weird with my accent color (green), so i chose to define the colors separately */
    /* background-color: color-mix(in oklch, var(--color-accent) 70%, black 30%); */
    background-color: light-dark(oklch(from var(--color-accent) 95% 5% h), oklch(from var(--color-accent)  20% 80% h));
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}
form label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
}
button {
    grid-column: 1 / -1;
}
button:hover {
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-accent);
    background-color: light-dark(oklch(from var(--color-accent) 95% 5% h), oklch(from var(--color-accent)  20% 80% h));
}

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
}
div article {
    display: grid;
    grid-template-columns: subgrid;
    grid-row: span 3;
}
div article h2 {
    margin: 0;
}

h1 {
    font-size: 4rem;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
    margin-top: 40px;
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30em, 2fr));
    gap: 1rem;
    padding: 1rem;
}
section article {
    display: grid;
    background-color: light-dark(#f9f9f9, #171717);
    padding: 1rem;
}
article:hover {
    border-color: var(--color-accent);
    background-color: light-dark(oklch(from var(--color-accent) 95% 5% h), oklch(from var(--color-accent) 20% 80% h));
    margin: 1px;
}
section h2 {
    color: var(--color-accent);
}
section header {
    grid-column: span 2;
    margin-bottom: 0em;
}

label.color-scheme {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 80%;
}

dl {
    display: grid;
    text-align: center;
}

dt {
    grid-row: 1;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    text-transform: uppercase;
}

dd {
    grid-row: 2;
    font-size: 32px;
    margin: 0;
}

#projects-pie-plot {
    max-width: 20em;
    margin-block: 2em;
    overflow: visible;
    margin: 1em;
}

span.swatch {
    display: inline-block;
    width: 1em;
    aspect-ratio: 1 / 1;
    background-color: var(--color);
    border-radius: 10%;
}

ul.legend {
    list-style: none;
    display: grid;
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
    gap: 5px;
    padding: 1em;
    margin: 1em;
    border-style: solid;
    border-width: 1px;
    border-color: #7f7f7f;
}

ul em {
    color: #7f7f7f;
}

div.container {
    display: flex;
    align-items: center;
}